<%_
title = `title`;
description = `desc`;
twitterTitle: ``
twitterDesc = ``;
keywords = ``;
_%>
<%- include(root_path + '/src/_header') %>
<div class="contents_outer">
	hello
</div>
<%- include(root_path + '/src/_footer') %>
